<link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet">
<header class="text-black-900 body-font size">
    <div class="mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center bg-black">
      <a class="flex title-font font-medium items-center text-white mb-4 md:mb-0">
       
        <span class=" text-xxl">Pawn's Journey</span>
      </a>
      <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
        <a class="mr-6 text-white size">Home</a>
        <a class="mr-6 text-white size">Courses</a>
        <a class="mr-6 text-white size">Fee Structure</a>
        <a class="mr-6 text-white size">About</a>
        <a class="mr-6 text-white size">Contact US</a>
      </nav>
      
    </div>
  </header>